<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>com.microsoft.advanced-systems-format</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.0</string>
	<key>CFBundleVersion</key>
	<string>1.9.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>4A60E117-F6DF-4B3C-9603-2BBE6CEC6972</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>4A60E117-F6DF-4B3C-9603-2BBE6CEC6972</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2014-2017 Jonathan Harris. Licensed under GPLv2 or later.</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<true/>		<!-- serialize calls to keep helper process's resource usage below QuickLook's limits -->
	<key>QLSupportsConcurrentRequests</key>
	<true/>		<!-- but allow multiple helper processes -->
	<key>QLPreviewHeight</key>
	<integer>240</integer>
	<key>QLPreviewWidth</key>
	<integer>320</integer>
	<key>QLThumbnailMinimumSize</key>
	<integer>0</integer>
</dict>
</plist>
