<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>MDImporter</string>
			<key>LSItemContentTypes</key>
			<array>
				<!-- Try to handle everything; Audio & CoreMedia importers will grab the more specific UTIs that they want to handle -->
				<string>public.audiovisual-content</string>

				<!-- schema:start - pull following UTIs into schema.xml for display in Get Info dialog -->

				<!-- Core movie types not handled by CoreMedia importer in 10.9 -->
				<string>com.adobe.flash.video</string>
				<!-- <string>com.apple.quicktime-movie</string>	CoreMedia importer can handle all quicktime metadata -->
				<string>com.microsoft.advanced-systems-format</string>
				<string>com.microsoft.windows-media-wmv</string>
				<string>com.real.realmedia</string>
				<string>com.real.realmedia-vbr</string>
				<string>public.avi</string>
				<string>public.dv-movie</string>
				<string>public.flc-animation</string>
				<string>public.mpeg-2-transport-stream</string>
				<string>public.mpeg-2-video</string>

				<!-- defined by QLVideo.app / Perian >= 1.3 -->
				<string>com.blu-raydisc.bdav</string>
				<string>com.divx.divx</string>
				<string>com.google.webm</string>	<!-- we prefer org.webmproject.webm -->
				<string>com.microsoft.wtv</string>
				<string>com.microsoft.xesc</string>
				<string>com.real.realvideo</string>
				<string>jp.co.dvdfllc.vob</string>
				<string>org.matroska.mkv</string>
				<string>org.smpte.gxf</string>
				<string>org.smpte.mxf</string>
				<string>org.mythtv.nuppelvideo</string>
				<string>org.webmproject.webm</string>
				<string>org.xiph.ogv</string>

				<!-- defined by Perian < 1.3 -->
				<string>org.perian.matroska</string>
				<string>org.perian.flash-video</string>
				<string>org.perian.nuppelvideo</string>
				<string>org.perian.ogv</string>
				<string>org.perian.divx</string>

				<!-- defined by VLC.app >= 2.2 -->
				<string>org.videolan.flash</string>
				<string>org.videolan.xesc</string>
				<string>org.videolan.realmedia</string>
				<string>org.videolan.ogg-video</string>
				<string>org.videolan.axv</string>
				<string>org.videolan.gxf</string>
				<string>org.videolan.mxf</string>
				<string>org.videolan.avi</string>
				<string>org.videolan.quicktime</string>
				<string>org.videolan.divx</string>
				<string>org.videolan.dv</string>
				<string>org.videolan.asf</string>
				<string>org.videolan.wmv</string>
				<string>org.videolan.wtv</string>
				<string>org.videolan.mpeg-video</string>
				<string>org.videolan.mpeg-stream</string>
				<string>org.videolan.3gp</string>
				<string>org.videolan.mkv</string>
				<string>org.videolan.webm</string>
				<string>org.videolan.rec</string>
				<string>org.videolan.vro</string>
				<string>org.videolan.tod</string>
				<string>org.videolan.nsv</string>
				<string>org.videolan.nuv</string>

				<!-- defined by MPlayerX.app -->
				<string>org.niltsh.mplayerx-divx</string>
				<string>org.niltsh.mplayerx-dv</string>
				<string>org.niltsh.mplayerx-flash-video</string>
				<string>org.niltsh.mplayerx-mts</string>
				<string>org.niltsh.mplayerx-matroska-video</string>
				<string>org.niltsh.mplayerx-mxf</string>
				<string>org.niltsh.mplayerx-ogg-video</string>
				<string>org.niltsh.mplayerx-rmvb</string>
				<string>org.niltsh.mplayerx-xvid</string>
	
				<!-- defined by NicePlayer.app -->
				<string>indy.jt.niceplayer.divx</string>
				<string>indy.jt.niceplayer.mkv</string>

				<!-- defined by Blu-ray Player.app -->
				<string>com.macblurayplayer.matroska</string>
				<string>com.macblurayplayer.nuppelvideo</string>
				<string>com.macblurayplayer.ogv</string>
				<string>com.macblurayplayer.divx</string>

				<!-- defined by mpv.app -->
				<string>io.mpv.wma</string>
				<string>io.mpv.avi</string>
				<string>io.mpv.divx</string>
				<string>io.mpv.dv</string>
				<string>io.mpv.flv</string>
				<string>io.mpv.mkv</string>
				<string>io.mpv.ogv</string>
				<string>io.mpv.rmvb</string>
				<string>io.mpv.wmv</string>
				<string>io.mpv.xvid</string>

				<!-- defined by Media Inspector -->
				<string>com.massanti.mediainfomac.ogv</string>
				<string>com.massanti.mediainfomac.nuppelvideo</string>
				<string>com.massanti.mediainfomac.matroska</string>
				<string>com.massanti.mediainfomac.flash-video</string>
				<string>com.massanti.mediainfomac.mpeg2TS</string>
				<string>com.massanti.mediainfomac.mpeg2</string>

				<!-- defined by Aurora Blu-ray Player for Mac -->
				<string>com.blurayplayersoftware.matroska</string>
				<string>com.blurayplayersoftware.nuppelvideo</string>
				<string>com.blurayplayersoftware.divx</string>
				<string>com.blurayplayersoftware.ogv</string>

				<!-- schema:stop - stop pulling UTIs into schema.xml -->

				<!-- Core audio types not handled by Audio importer in 10.9 -->
				<string>com.microsoft.windows-media-wma</string>
				<string>com.real.realaudio</string>
				<string>com.soundblaster.soundfont</string>
				<string>public.aac-audio</string>
				<string>public.ac3-audio</string>
				<string>public.mp2</string>

				<!-- Audio defined by QLVideo.app / Perian >= 1.3 -->
				<string>com.dolby.dd</string>		<!-- we prefer public.ac3-audio -->
				<string>com.meridian-audio.mlp</string>
				<string>com.monkeysaudio.ape</string>
				<string>com.true-audio.tta</string>
				<string>com.wavpack.wv</string>
				<string>net.musepack.mpc</string>
				<string>net.sourceforge.flac.flac</string>
				<string>org.matroska.mka</string>
				<string>org.xiph.flac</string>
				<string>org.xiph.ogg</string>

				<!-- Audio defined by Perian < 1.3 -->
				<string>org.perian.true-audio</string>
				<string>org.perian.ac3</string>
				<string>org.perian.flac</string>
				<string>org.perian.ogg</string>

				<!-- Audio defined by VLC.app >= 2.2 -->
				<string>org.videolan.ape</string>
				<string>org.videolan.flac</string>
				<string>org.videolan.wv</string>
				<string>org.videolan.tta</string>
				<string>org.videolan.mpc</string>
				<string>org.videolan.mod</string>
				<string>org.videolan.it</string>
				<string>org.videolan.xm</string>
				<string>org.videolan.aiff</string>
				<string>org.videolan.amr</string>
				<string>org.videolan.dts</string>
				<string>org.videolan.spx</string>
				<string>org.videolan.wav</string>
				<string>org.videolan.ac3</string>
				<string>org.videolan.aac</string>
				<string>org.videolan.opus</string>
				<string>org.videolan.ogg-audio</string>
				<string>org.videolan.oma</string>
				<string>org.videolan.voc</string>
				<string>org.videolan.vqf</string>
				<string>org.videolan.axa</string>
				<string>org.videolan.wma</string>
				<string>org.videolan.mpeg-audio</string>
				<string>org.videolan.mid</string>
				<string>org.videolan.mlp</string>
				<string>org.videolan.mka</string>
				<string>org.videolan.rmi</string>
				<string>org.videolan.s3m</string>

				<!-- Audio defined by MPlayerX.app -->
				<string>org.niltsh.mplayerx-aac</string>
				<string>org.niltsh.mplayerx-ac3</string>
				<string>org.niltsh.mplayerx-flac</string>
				<string>org.niltsh.mplayerx-matroska-audio</string>
				<string>org.niltsh.mplayerx-ogg</string>

				<!-- Audio defined by Blu-ray Player.app -->
				<string>com.macblurayplayer.ogg</string>

				<!-- Audio defined by mpv.app -->
				<string>io.mpv.ac3</string>
				<string>io.mpv.flac</string>
				<string>io.mpv.mka</string>
				<string>io.mpv.ogg-audio</string>
				<string>io.mpv.wma</string>

				<!-- Audio defined by Media Inspector -->
				<string>com.massanti.mediainfomac.ogg</string>
				<string>com.massanti.mediainfomac.flac</string>
				<string>com.massanti.mediainfomac.ac3</string>
				<string>com.massanti.mediainfomac.true-audio</string>

				<!-- Audio defined by Aurora Blu-ray Player for Mac -->
				<string>com.blurayplayersoftware.ogg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.0</string>
	<key>CFBundleVersion</key>
	<string>1.9.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>3BD30E87-1D12-4322-AFCE-F58CB4B56096</key>
		<string>MetadataImporterPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>8B08C4BF-415B-11D8-B3F9-0003936726FC</key>
		<array>
			<string>3BD30E87-1D12-4322-AFCE-F58CB4B56096</string>
		</array>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2014-2017 Jonathan Harris. Licensed under GPLv2 or later.</string>
</dict>
</plist>
