<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.0</string>
	<key>CFBundleVersion</key>
	<string>1.9.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2014-2017 Jonathan Harris. Licensed under GPLv2 or later.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>com.real.realmedia</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RealVideo</string>
			<key>UTTypeIdentifier</key>
			<string>com.real.realvideo</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>org.matroska.mkv</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WebM Video File</string>
			<key>UTTypeIdentifier</key>
			<string>org.webmproject.webm</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.webmproject.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/webm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.mpeg</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Video Object</string>
			<key>UTTypeIdentifier</key>
			<string>jp.co.dvdfllc.vob</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.dvdfllc.co.jp/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vob</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/dvd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.mpeg-2-transport-stream</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BDAV MPEG-2 Transport Stream</string>
			<key>UTTypeIdentifier</key>
			<string>com.blu-raydisc.bdav</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.blu-raydisc.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mts</string>
					<string>m2ts</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/MP2T</string>
				</array>
			</dict>
		</dict>

		<!-- Perian -->
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska Audio File</string>
			<key>UTTypeIdentifier</key>
			<string>org.matroska.mka</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.matroska.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mka</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-matroska</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Matroska Video File</string>
			<key>UTTypeIdentifier</key>
			<string>org.matroska.mkv</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.matroska.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-matroska</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.avi</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DivX Movie File</string>
			<key>UTTypeIdentifier</key>
			<string>com.divx.divx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.divx.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>divx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-divx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NuppelVideo</string>
			<key>UTTypeIdentifier</key>
			<string>org.mythtv.nuppelvideo</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.mythtv.org/wiki/NuppelVideo</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nuv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-nuv</string>
					<string>video/x-nuv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FLAC audio</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.flac.flac</string>
			<key>UTTypeReferenceURL</key>
			<string>http://flac.sourceforge.net/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flac</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-flac</string>
					<string>audio/flac</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg Vorbis Audio</string>
			<key>UTTypeIdentifier</key>
			<string>org.xiph.ogg</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xiph.org/ogg/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogg</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/ogg</string>
					<string>audio/x-ogg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg Video</string>
			<key>UTTypeIdentifier</key>
			<string>org.xiph.ogv</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xiph.org/ogg/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/ogg</string>
					<string>video/x-ogg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TrueAudio File</string>
			<key>UTTypeIdentifier</key>
			<string>com.true-audio.tta</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.true-audio.com/TTA_Lossless_Audio_Codec_-_Format_Description</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tta</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-tta</string>
				</array>
			</dict>
		</dict>

		<!-- UTIs for extensions supported by libvlc -->
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Expression Encoder Screen Capture File</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.xesc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xesc</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-xesc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Monkey's Audio</string>
			<key>UTTypeIdentifier</key>
			<string>com.monkeysaudio.ape</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.monkeysaudio.com/developers.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ape</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-ape</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FLAC Audio File</string>
			<key>UTTypeIdentifier</key>
			<string>org.xiph.flac</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xiph.org/flac/format.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flac</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-flac</string>
					<string>audio/flac</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WavePack Audio File</string>
			<key>UTTypeIdentifier</key>
			<string>com.wavpack.wv</string>
			<key>UTTypeReferenceURL</key>
			<string>http://wavpack.com/file_format.txt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-wv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Musepack Audio File</string>
			<key>UTTypeIdentifier</key>
			<string>net.musepack.mpc</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.musepack.net/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpc</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-mpc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>General Exchange Format</string>
			<key>UTTypeIdentifier</key>
			<string>org.smpte.gxf</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.smpte.org/standards</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gxf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/gxf</string>
					<string>video/x-gxf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Material Exchange Format</string>
			<key>UTTypeIdentifier</key>
			<string>org.smpte.mxf</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.smpte.org/standards</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mxf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/mxf</string>
					<string>video/x-mxf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Windows Recorded TV Show</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.wtv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wtv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-wtv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Meridian Lossless Packing Audio File</string>
			<key>UTTypeIdentifier</key>
			<string>com.meridian-audio.mlp</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.meridian-audio.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mlp</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/x-mlp</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
