<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationGroup</key>
	<string>$(APP_GROUP)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(INFOPLIST_KEY_CFBundleDisplayName)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>ClassImplementationID</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.mediaextension.videodecoder</string>
		<key>EXPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).VideoDecoderFactory</string>
		<key>CodecInfo</key>
		<array>
			<dict>
				<key>CodecType</key>
				<string>MPG1</string>
				<key>CodecName</key>
				<string>MPEG-1 Video</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>MPG2</string>
				<key>CodecName</key>
				<string>MPEG-2 Video</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>MPG4</string>
				<key>CodecName</key>
				<string>MPEG-4 Video</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>SV1 </string>
				<key>CodecName</key>
				<string>Sorenson Video 1</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>SV3 </string>
				<key>CodecName</key>
				<string>Sorenson Video 3</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>VP8 </string>
				<key>CodecName</key>
				<string>On2 VP8</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>VP9 </string>
				<key>CodecName</key>
				<string>Google VP9</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>AV1 </string>
				<key>CodecName</key>
				<string>AOMedia AV1</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>theo</string>
				<key>CodecName</key>
				<string>Theora</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>vvc1</string>
				<key>CodecName</key>
				<string>Versatile Video Coding</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>cvid</string>
				<key>CodecName</key>
				<string>Cinepak</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>vc-1</string>
				<key>CodecName</key>
				<string>VC-1</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>avs2</string>
				<key>CodecName</key>
				<string>Chinese AVS video</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>flic</string>
				<key>CodecName</key>
				<string>FLC animation</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>apv1</string>
				<key>CodecName</key>
				<string>Advanced Professional Video</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>FLV1</string>
				<key>CodecName</key>
				<string>Flash Video</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>FSV1</string>
				<key>CodecName</key>
				<string>Flash Video</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>VP6 </string>
				<key>CodecName</key>
				<string>On2 TrueMotion VP6</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>WMV1</string>
				<key>CodecName</key>
				<string>Windows Media Video 1</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>WMV2</string>
				<key>CodecName</key>
				<string>Windows Media Video 2</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>WMV3</string>
				<key>CodecName</key>
				<string>Windows Media Video 3</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>RV10</string>
				<key>CodecName</key>
				<string>RealVideo 1</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>RV20</string>
				<key>CodecName</key>
				<string>RealVideo G2</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>RV30</string>
				<key>CodecName</key>
				<string>RealVideo 8</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>RV40</string>
				<key>CodecName</key>
				<string>RealVideo 9</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>RV60</string>
				<key>CodecName</key>
				<string>RealVideo HD</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>CLV1</string>
				<key>CodecName</key>
				<string>ClearVideo</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>IV21</string>
				<key>CodecName</key>
				<string>Indeo 2</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>IV31</string>
				<key>CodecName</key>
				<string>Indeo 3</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>IV41</string>
				<key>CodecName</key>
				<string>Indeo 4</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>IV51</string>
				<key>CodecName</key>
				<string>Indeo 5</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>DOVI</string>
				<key>CodecName</key>
				<string>Dolby Vision</string>
			</dict>
			<dict>
				<key>CodecType</key>
				<string>QLV </string>
				<key>CodecName</key>
				<string>QuickLook Video</string>
			</dict>
		</array>
		<key>ObjectName</key>
		<string>Support for non-native video codecs</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>${INFOPLIST_KEY_NSHumanReadableCopyright}</string>
</dict>
</plist>
